body {
	margin: 0;
	padding: 0;
	background-image: url("../images/bg.png");
}

.name-text {
	font-size: 48pt;
}

.image-grid {
	width: 100%;
	display: grid;
	grid-template-columns:repeat(4, 1fr);
}

.image-cell {
	text-align: center;
	grid-column: span 2;
	display: inline-block;
	border: 5px solid blue;
	padding: 5%;
}

img {
	width: 100%;
	text-align: center;
}