body {
	margin: 0;
	padding: 0;
	font-family: 'Avenir Next', sans-serif;
	font-size: 105%;
}

header{
	/*font-family: 'Avenir Next', sans-serif;*/
	/*font-size: 105%;*/
    /*box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);*/
    /*background-color: lightgrey;*/
    width: 100%;
    position: fixed;
}

footer {
	font-size: 75%;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: lightgrey;
}

.logo {
	/*float: center;*/
	/*width: 100%;*/
	text-align: center;
	margin-top: 10px;
	margin-left: 10px; 
}

.top-nav{
	background-color: lightgrey;
}

.top-nav ul{
	/*position: absolute;*/
	/*right: 0;*/
	/*float: right;*/
	list-style-type: none;
	padding: 0;
	text-align: center;
	/*background-color: lightgrey;*/
	margin: 0;
	display: block;
}

.top-nav ul li{
		margin-top: 1em;
		/*display: inline-block;*/
		display: block;
		text-align: center;
	}

.top-nav ul li a{
	font-size: 1em;
	color: black;
	text-decoration: none;
	padding: .5em 1em;
	/*display: block;*/
	text-align: center;
}

.top-nav ul li a.current{
	/*color: green;*/
	font-weight: bold;
	/*font-size: 24px;*/
}

.top-nav ul li a:hover {
	text-decoration: underline;
}

.main-cntent{
	flex: 1 0 auto;
	margin-top: 110px;
}

/*.main-content-home{
	margin-top: 250px;
}
*/.home-flag{
	position: fixed;
	color: black;
	top: 300px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;

}

.home-flag-comics {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	/*top: 250px;*/
	/*overflow: none;*/

	display: block;
	margin: auto;
	max-width: 1000px;
}

.comics-grid-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.comics-grid-cell img {
	width: 98%;
  	display: block;
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}
