.tripDetails {
	position: absolute;
	top: 150px;
	text-align: center;
	/*visibility: hidden;*/
}

.backButton {
	position: absolute;
	top: 50px;
	text-align: center;
	/*visibility: hidden;*/
}

body {
	/*background-image: url("ReserveRideScreen.png");*/
}