body, h1 {
	margin:0;
	padding:0;
	/*width: 100%;*/
}


header{
	background-color: yellow;
	text-align:right;
	width: 100%;
}

nav ul{
	margin:0;
	padding:.75em;
	background-color: green;
	list-style-type:none;
	text-align:center;
	/*width:100%;*/
}

#wrap nav ul li {
	display:inline;
	background-color: black;
	padding:.75em;
}
#wrap nav ul li a{
	text-decoration: none;
	color:white;
}

#content {
	background-color: #535648;
	float: left;
	width: 80%;
	/*height: 100%;*/
	/*position: absolute;*/
	/*left: 0;*/
}

#content ul {
	margin:0;
	text-align: center;
	list-style-type: none;
}

footer{
	/*padding:.5em;*/
	margin:0;
	position: relative;
	float: left;
	width:80%;
	background-color: green;
	clear: left;
}

aside{
	position: absolute;
	left: 80%;
	/*float: right;*/
	/*width: 20%;*/
	height: 100%;
	display: inline-block;
	/*margin:0;*/
	/*float:right;*/
	background-color: white;
	/*width:20%;*/

	background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
	/*background-size: cover;*/
	background-repeat: no-repeat;
    background-position: center;
    /*background-position: 0% 50%;*/
    background-size: 100%;
}
aside h2{margin:0;}